<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/59/Davidson_Wildcats_logo.svg/1200px-Davidson_Wildcats_logo.svg.png" alt="logo" width="60" height="60">
  Davis Café
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" align="right">
      <li class="nav-item">
        <a class="nav-link" href="/hours">Hours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/checkout"><img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" width="30" height="30" alt="cart-icon"></a>
      </li>
    </ul>
  </div>
</nav>
