{{> header}}

<h2>Hours</h2>
<h4>Monday-Friday</h4>
<ul>
  <li>Breakfast: 7:30- 9 a.m.</li>
  <li>Lunch: 11-1 p.m.</li>
  <li>Dinner: 5-6 p.m.</li>
</ul>
<h4>Saturday and Sunday</h4>
<ul>
  <li>Brunch: 10-12 p.m.</li>
  <li>Dinner: 5-6 p.m.</li>
</ul>

<h4>Meal Swipe Times</h4>
<ul>
  <li>Breakfast Meal Plan: 7:30-10:30 a.m. (Mon-Fri only)</li>
  <li>Lunch Meal Plan: 11 a.m.-5 p.m. (Sun-Sat)</li>
  <li>Dinner Meal Plan: 5-9 p.m. (Sun-Sat)</li>
  <li>Late Night Meal Plan: 9-11 p.m. (Sun-Sat)</li>
</ul>
